extends ../layout

block content
  .container
    h1= title
    hr
    h4 List of Places
      if (allPlaces.length)
        table.table.table-striped.table-bordered
          thead
            tr
              th Address
              th Latitude
              th Longitude
          tbody(id='tbody')
    hr
    .row
      .col-md-4
        h4 Add a new place
        form(action='/places' method='POST')
          label(for='address') Address:
          input.form-control(type='text' id='address' name='address' required)
          label(for='latitude') Latitude:
          input.form-control(type='text' id='latitude' name='latitude' required)
          label(for='longitude') Longitude:
          input.form-control(type='text' id='longitude' name='longitude' required)
          input.btn-primary(type='submit' id='addplace' value='Add Place')