extends ../layout

block content
  .container
    h1= title
    hr
    h4 List of Places
        table.table.table-striped.table-bordered
          thead
            tr
              th Address
              th Latitude
              th Longitude
              th Delete
          tbody(id='tbody')
    hr
    h4 Add a new place
      small  (Leave Latitude &amp Longitude Blank to Auto-Discover)
    .row
      .col-md-4
        form(action='/places' method='POST')
          label(for='address') Address:
          input.form-control(type='text' id='address' name='address' placeholder='example: Paris, France' required)
          label(for='latitude') Latitude:
          input.form-control(type='text' id='latitude' name='latitude' required)
          label(for='longitude') Longitude:
          input.form-control(type='text' id='longitude' name='longitude' required)
          input.btn-primary(type='submit' id='addplace' value='Add Place')