extends ../layout

block content
  .container
    h1.text-center= title
    .row
      .col-md-6.col-md-offset-3
        include errors.jade
        form(action='/register' method="POST")
          label(for='username') Username:
          input.form-control(type='text' id='username' name='username' required)
          label(for='email') Email:
          input.form-control(type='email' id='email' name='email' required)
          label(for='password') Password:
          input.form-control(type='password' id='password' name='password' required)
          label(for='pwconfirm') Confirm Password:
          input.form-control(type='password' id='pwconfirm' name='pwconfirm' required)
          input.btn-info(type='submit' value='Create Account')